Feedback Control Agent
{"name":"Feedback Control Agent","nodes":[{"parameters":{"path":"feedback-control","responseMode":"onReceived","responseData":"firstEntryJson"},"id":"Webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[300,300]},{"parameters":{"values":[{"name":"feedback","value":"={{$json.feedback}}"},{"name":"score","value":"={{parseInt($json.score)}}"},{"name":"issueType","value":"={{$json.issueType}}"}]},"id":"ParseFeedback","name":"Parse Feedback","type":"n8n-nodes-base.set","typeVersion":2,"position":[500,300]},{"parameters":{"conditions":{"number":[{"value1":"={{$json.score}}","operation":"largerEqual","value2":8}]},"combineOperation":"all"},"id":"IfScoreHigh","name":"High Score?","type":"n8n-nodes-base.if","typeVersion":2,"position":[700,300]},{"parameters":{"values":[{"name":"action","value":"Thank you! No changes needed."}]},"id":"NoAction","name":"No Action Needed","type":"n8n-nodes-base.set","typeVersion":2,"position":[900,200]},{"parameters":{"values":[{"name":"adjustment","value":"={{(() => {\n  const type = $json.issueType;\n  if (type === 'bug') return 'Increase QA frequency';\n  if (type === 'feature') return 'Escalate to manager';\n  return 'Log for manual review';\n})()}}"}]},"id":"AdjustFlow","name":"Adjust Workflow","type":"n8n-nodes-base.set","typeVersion":2,"position":[900,400]}],"connections":{"Webhook":{"main":[[{"node":"Parse Feedback","type":"main","index":0}]]},"Parse Feedback":{"main":[[{"node":"High Score?","type":"main","index":0}]]},"High Score?":{"main":[[{"node":"No Action Needed","type":"main","index":0}],[{"node":"Adjust Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v2"}}
