Marketing Post Generator
 {"name":"Marketing Post Generator","nodes":[{"parameters":{"path":"generate-post","responseMode":"lastNode","options":{}},"id":"Webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[300,300]},{"parameters":{"values":[{"name":"prompt","value":"={{(() => {\n  const name = $json.product || 'Our product';\n  const features = $json.features || 'amazing features';\n  const tone = $json.tone || 'friendly';\n  return `Write a ${tone} social media post about ${name}, highlighting: ${features}`;\n})()}}"}],"options":{}},"id":"BuildPrompt","name":"Build Prompt","type":"n8n-nodes-base.set","typeVersion":2,"position":[500,300]},{"parameters":{"resource":"chat","operation":"complete","model":"gpt-3.5-turbo","messages":[{"role":"system","content":"You are a social media marketing assistant."},{"role":"user","content":"={{$json.prompt}}"}],"simplifyOutput":true},"id":"GeneratePost","name":"Ask ChatGPT","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[700,300],"credentials":{"openAiApi":{"id":"your-openai-credential-id","name":"OpenAI"}}}],"connections":{"Webhook":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Ask ChatGPT","type":"main","index":0}]]}},"settings":{"executionOrder":"v2"}}
