YouTube Automation Flow
 {"name":"YouTube Automation Flow","nodes":[{"parameters":{"path":"youtube-automation","responseMode":"lastNode","options":{}},"id":"Webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[300,300]},{"parameters":{"values":[{"name":"prompt","value":"={{(() => {\n  const title = $json.title || 'Untitled';\n  const topic = $json.topic || 'tech';\n  return `Generate YouTube SEO metadata (title, description, tags) for a video titled '${title}' about ${topic}.`;\n})()}}"}],"options":{}},"id":"BuildPrompt","name":"Build Prompt","type":"n8n-nodes-base.set","typeVersion":2,"position":[500,300]},{"parameters":{"resource":"chat","operation":"complete","model":"gpt-3.5-turbo","messages":[{"role":"system","content":"You are a YouTube content strategist."},{"role":"user","content":"={{$json.prompt}}"}],"simplifyOutput":true},"id":"GenerateSEO","name":"Generate SEO","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[700,300],"credentials":{"openAiApi":{"id":"your-openai-credential-id","name":"OpenAI"}}},{"parameters":{"resource":"text","operation":"transcribe","model":"whisper-1","input":"={{$json.audioUrl}}"},"id":"Transcribe","name":"Auto Caption","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[700,500],"credentials":{"openAiApi":{"id":"your-openai-credential-id","name":"OpenAI"}}}],"connections":{"Webhook":{"main":[[{"node":"Build Prompt","type":"main","index":0},{"node":"Auto Caption","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Generate SEO","type":"main","index":0}]]}},"settings":{"executionOrder":"v2"}}
